<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css"
          rel="stylesheet"/>
    <link th:href="@{/jquery/bs_pagination-master/css/jquery.bs_pagination.min.css}"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-1.11.1-min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript"
            th:src="@{/jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bs_pagination-master/js/jquery.bs_pagination.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bs_pagination-master/localization/en.js}"></script>
    <script type="text/javascript">
        $(function(){

            //给创建按钮加单击事件
            $("#saveCreateTranBtn").click(function (){
                window.location.href="/workbench/transaction/saveTran.do";
            });
            //当交易加载完成,查询所有数据的第一页以及所有数据的总条数,默认5条
            queryTranByConditionForPage(1,5);
            //给查询按钮加单击事件
            $("#queryTranBtn").click(function () {
                //查询所有符合条件的第一页以及所有符合条件数据的总条数
                //获取分页函数中的容器对象
                queryTranByConditionForPage(1, $("#demo_pag1").bs_pagination('getOption', 'rowsPerPage'));
            });
            //给单选框加全选事件
            $("#checkAll").click(function () {
                $("#tBody input[type='checkbox']").prop("checked", this.checked);
            });
            $("#tBody").on("click", "input[type='checkbox']", function () {
                //判断列表中的checkbox都选中,则全选
                if ($("#tBody input[type='checkbox']").size() == $("#tBody input[type='checkbox']:checked").size()) {
                    $("#checkAll").prop("checked", true);
                } else {
                    //至少有一个没选中
                    $("#checkAll").prop("checked", false);
                }
            });
            //给交易明细<a>加单击事件
            /*$("#tranDetailBtn").click(function (){
                window.location.href="workbench/transaction/queryTranRemarkForDetail.do?id="+'3bcc0084e0d44c83a6c9fa4008d4d301';
            });*/

        });
        //分页
        function queryTranByConditionForPage(pageNo,pageSize){
            //收集参数
            var owner = $("#owner").val();
            var name = $("#name").val();
            var customerId = $("#customerId").val();
            var stage = $("#stage").val();
            var source = $("#source").val();
            var type = $("#type").val();
            var contactsId = $("#contactsId").val();
            //表单验证

            //发送请求
            $.ajax({
                url: '/workbench/transaction/queryTranByConditionForPage.do',
                data: {
                    owner:owner,
                    name:name,
                    customerId:customerId,
                    stage:stage,
                    type:type,
                    source:source,
                    contactsId:contactsId,
                    pageNo:pageNo,
                    pageSize:pageSize
                },
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    var htmlStr = "";
                    //显示总条数
                    //$("#totalB").text(data.totalRows);
                    //遍历clueList
                    $.each(data.tranList, function (index, obj) {
                        htmlStr += "<tr class=\"active\">";
                        htmlStr += "<td><input type=\"checkbox\" value=\"" + obj.id + "\"/></td>";
                        htmlStr += "<td><a style=\"text-decoration: none; cursor: pointer;\" onclick=\"window.location.href='/workbench/transaction/queryTranRemarkForDetail.do?id=" + obj.id + "';\">" + obj.name + "</a></td>";
                        htmlStr += "<td>" + obj.customerId + "</td>";
                        htmlStr += "<td>" + obj.stage + "</td>";
                        htmlStr += "<td>" + obj.type + "</td>";
                        htmlStr += "<td>" + obj.owner + "</td>";
                        htmlStr += "<td>" + obj.source + "</td>";
                        htmlStr += "<td>" + obj.contactsId + "</td>";
                        htmlStr += "</tr>";
                    });
                    //显示信息
                    $("#tBody").html(htmlStr);
                    //取消全选按钮
                    $("#checkAll").prop("checked", false);
                    //计算总页数
                    var totalPages = 1;
                    if (data.totalRows % pageSize == 0) {
                        totalPages = data.totalRows / pageSize;
                    } else {
                        totalPages = parseInt(data.totalRows / pageSize) + 1;
                    }

                    //对容器调用bs_pagination工具函数,显示翻页
                    $("#demo_pag1").bs_pagination({
                        currentPage: pageNo,//当前页号
                        rowsPerPage: pageSize,//每页显示条数
                        totalRows: data.totalRows,//总条数
                        totalPages: totalPages,//总页数,必填
                        visiblePageLinks: 5,//最多可以显示的卡片数
                        showRowsPerPage: true,//是否显示"每页显示条数"部分,默认显示true
                        showRowsInfo: true, //是否显示记录的信息,默认显示
                        showGoToPage: true,//是否显示"跳转到"部分,默认显示

                        //每次切换页号,触发本函数
                        //每次返回页号之后的pageNO和pageSize
                        onChangePage: function (event, pageObj) {
                            //js代码触发切换事件--翻页事件
                            queryTranByConditionForPage(pageObj.currentPage, pageObj.rowsPerPage);
                        }
                    })
                }
            })
        }
    </script>
</head>
<body>
<div>
    <div style="position: relative; left: 10px; top: -10px;">
        <div class="page-header">
            <h3>交易列表</h3>
        </div>
    </div>
</div>

<div style="position: relative; top: -20px; left: 0px; width: 100%; height: 100%;">

    <div style="width: 100%; position: absolute;top: 5px; left: 10px;">

        <div class="btn-toolbar" role="toolbar" style="height: 80px;">
            <form class="form-inline" role="form" style="position: relative;top: 8%; left: 5px;">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">所有者</div>
                        <input class="form-control" type="text" id="owner">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">名称</div>
                        <input class="form-control" type="text" id="name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">客户名称</div>
                        <input class="form-control" type="text" id="customerId">
                    </div>
                </div>

                <br>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">阶段</div>
                        <select class="form-control" id="stage">
                            <option></option>
                            <div th:each="sl:${stageList}">
                                <option th:value="${sl.id}" th:text="${sl.value}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">类型</div>
                        <select class="form-control" id="type">
                            <option></option>
                            <div th:each="t:${transactionTypeList}">
                                <option th:value="${t.id}" th:text="${t.value}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">来源</div>
                        <select class="form-control" id="source">
                            <option></option>
                            <div th:each="s:${sourceList}">
                                <option th:value="${s.id}" th:text="${s.value}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">联系人名称</div>
                        <input class="form-control" type="text" id="contactsId">
                    </div>
                </div>

                <button type="button" class="btn btn-default" id="queryTranBtn">查询</button>

            </form>
        </div>
        <div class="btn-toolbar" role="toolbar" style="background-color: #F7F7F7; height: 50px; position: relative;top: 10px;">
            <div class="btn-group" style="position: relative; top: 18%;">
                <button type="button" class="btn btn-primary" id="saveCreateTranBtn"><span class="glyphicon glyphicon-plus"></span> 创建</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='edit.jsp';"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> 删除</button>
            </div>


        </div>
        <div style="position: relative;top: 10px;">
            <table class="table table-hover">
                <thead>
                <tr style="color: #B3B3B3;">
                    <td><input type="checkbox" id="checkAll"/></td>
                    <td>名称</td>
                    <td>客户名称</td>
                    <td>阶段</td>
                    <td>类型</td>
                    <td>所有者</td>
                    <td>来源</td>
                    <td>联系人名称</td>
                </tr>
                </thead>
                <tbody id="tBody">
                </tbody>
            </table>
        </div>

        <div style="height: 50px; position: relative;top: 20px;">
            <div id="demo_pag1"></div>
        </div>

    </div>

</div>
</body>
</html>