<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css"
          rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-1.11.1-min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            //给更新按钮加单击事件
            $("#updateBtn").click(function () {
                //收集参数
                var code = $("#code").val();
                var name = $.trim($("#name").val());
                var description = $.trim($("#description").val());
                //发送请求
                $.ajax({
                    url: '/settings/dictionary/type/editDicType.do',
                    data: {
                        code: code,
                        name: name,
                        description: description
                    },
                    type: 'put',
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == '1') {
                            window.location.href="/settings/dictionary/type/typeIndex.do";
                        }else {
                            alert(data.message);
                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
    <div style="position:  relative; left: 30px;">
        <h3>修改字典类型</h3>
        <div style="position: relative; top: -40px; left: 70%;">
            <button type="button" class="btn btn-primary" id="updateBtn">更新</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">取消</button>
        </div>
        <hr style="position: relative; top: -40px;">
    </div>
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">编码<span style="font-size: 15px; color: red;">*</span></label>
            <div class="col-sm-10" style="width: 300px;">
                <input type="text" class="form-control" id="code" style="width: 200%;" th:value="${dicType.code}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10" style="width: 300px;">
                <input type="text" class="form-control" id="name" style="width: 200%;" th:value="${dicType.name}">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10" style="width: 300px;">
                <textarea class="form-control" rows="3" id="description"
                          style="width: 200%;" th:text="${dicType.description}"></textarea>
            </div>
        </div>
    </form>

    <div style="height: 200px;"></div>
</body>
</html>