<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css"
          rel="stylesheet"/>
    <link th:href="@{/jquery/bs_pagination-master/css/jquery.bs_pagination.min.css}"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-1.11.1-min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript"
            th:src="@{/jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bs_pagination-master/js/jquery.bs_pagination.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/bs_pagination-master/localization/en.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function(){
            $("#isCreateTransaction").click(function(){
                if(this.checked){
                    $("#create-transaction2").show(200);
                }else{
                    $("#create-transaction2").hide(200);
                }
            });
            //加载容器,调用工具函数
            $(".myDate").datetimepicker({
                language: 'zh-CN',//语言
                format: 'yyyy-mm-dd',//格式
                minView: 'month',//可以选择的最小视图
                initialDate: new Date(),//初始化显示日期
                autoclose: true,//设置选择完日期后,自动关闭日历
                todayBtn: true,//显示今天按钮
                clearBtn: true,//显示清空按钮
            })
            //市场活动搜索源按钮加单击事件
            $("#searchActivityBtn").click(function (){
                //弹出搜索市场活动的模态窗口
                $("#searchActivityModal").modal("show");
            });
            //给市场活动搜索源搜索框加键盘弹起事件
            $("#searchActivityTxt").keyup(function (){
                //收集参数
                var activityName=this.value;
                var clueId=[[${clue.id}]];
                //发送请求
                $.ajax({
                    url:'/workbench/clue/queryActivityForConvertByNameClueId.do',
                    data:{
                        activityName:activityName,
                        clueId:clueId,
                    },
                    dataType:'json',
                    type:'get',
                    success:function (data){
                        //遍历data，显示所有搜索信息
                        var htmlStr="";
                        $.each(data,function (index,obj){
                            htmlStr+="<tr id=\"tr_"+obj.id+"\">";
                            htmlStr+="<td><input type=\"radio\" value=\""+obj.id+"\" activityName=\""+obj.name+"\" name=\"activity\"/></td>";
                            htmlStr+="<td>"+obj.name+"</td>";
                            htmlStr+="<td>"+obj.startDate+"</td>";
                            htmlStr+="<td>"+obj.endDate+"</td>";
                            htmlStr+="<td>"+obj.owner+"</td>";
                            htmlStr+="</tr>";
                        });
                        //显示信息
                        $("#convertTBody").html(htmlStr);
                    }
                });
            });
            //给所有市场活动的单选按钮加单击事件
            $("#convertTBody").on("click","input[type='radio']",function (){
                //获取市场活动的id和name
                var id=this.value;
                var activityName=$(this).attr("activityName");
                //把市场活动的id写到隐藏域中，把name写到输入框中
                $("#activityId").val(id);
                $("#activityName").val(activityName);
                //关闭模态窗口
                $("#searchActivityModal").modal("hide");
            });
            //给转换按钮加单击事件
            $("#saveConvertClueBtn").click(function (){
                //收集参数
                var clueId=[[${clue.id}]];
                var money=$.trim($("#amountOfMoney").val());
                var name=$.trim($("#tradeName").val());
                var expectedDate=$("#expectedClosingDate").val();
                var stage=$("#stage").val();
                var activityId=$("#activityId").val();
                var isCreateTran=$("#isCreateTransaction").prop("checked");
                //表单验证
                //金额是非负整数

                //发送请求
                $.ajax({
                    url:'/workbench/clue/convertClue.do',
                    data:{
                        clueId:clueId,
                        name:name,
                        expectedDate:expectedDate,
                        money:money,
                        activityId:activityId,
                        stage:stage,
                        isCreateTran:isCreateTran,
                    },

                    type: 'post',
                    dataType: 'json',
                    success:function (data){
                        if (data.code=="1"){
                            //跳转页面
                            window.location.href="/workbench/clue/index.do";
                        }else {
                            //提示信息
                            alert(data.message);
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <!-- 搜索市场活动的模态窗口 -->
    <div class="modal fade" id="searchActivityModal" role="dialog" >
        <div class="modal-dialog" role="document" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">搜索市场活动</h4>
                </div>
                <div class="modal-body">
                    <div class="btn-group" style="position: relative; top: 18%; left: 8px;">
                        <form class="form-inline" role="form">
                            <div class="form-group has-feedback">
                                <input type="text" id="searchActivityTxt" class="form-control" style="width: 300px;" placeholder="请输入市场活动名称，支持模糊查询">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                    </div>
                    <table id="activityTable" class="table table-hover" style="width: 900px; position: relative;top: 10px;">
                        <thead>
                        <tr style="color: #B3B3B3;">
                            <td></td>
                            <td>名称</td>
                            <td>开始日期</td>
                            <td>结束日期</td>
                            <td>所有者</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody id="convertTBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="title" class="page-header" style="position: relative; left: 20px;">
        <h4>转换线索 <small th:text="|${clue.fullname}${clue.appellation}-${clue.company}|"></small></h4>
    </div>
    <div id="create-customer" style="position: relative; left: 40px; height: 35px;" th:text="|新建客户：${clue.company}|">

    </div>
    <div id="create-contact" style="position: relative; left: 40px; height: 35px;" th:text="|新建联系人：${clue.fullname}${clue.appellation}|">

    </div>
    <div id="create-transaction1" style="position: relative; left: 40px; height: 35px; top: 25px;">
        <input type="checkbox" id="isCreateTransaction"/>
        为客户创建交易
    </div>
    <div id="create-transaction2" style="position: relative; left: 40px; top: 20px; width: 80%; background-color: #F7F7F7; display: none;" >

        <form>
            <div class="form-group" style="width: 400px; position: relative; left: 20px;">
                <label for="amountOfMoney">金额</label>
                <input type="text" class="form-control" id="amountOfMoney">
            </div>
            <div class="form-group" style="width: 400px;position: relative; left: 20px;">
                <label for="tradeName">交易名称</label>
                <input type="text" class="form-control" id="tradeName" th:value="|${clue.company}-|">
            </div>
            <div class="form-group" style="width: 400px;position: relative; left: 20px;">
                <label for="expectedClosingDate">预计成交日期</label>
                <input type="text" class="form-control myDate" id="expectedClosingDate" readonly>
            </div>
            <div class="form-group" style="width: 400px;position: relative; left: 20px;">
                <label for="stage">阶段</label>
                <select id="stage"  class="form-control">
                    <option></option>
                    <div th:each="stage:${stageList}">
                        <option th:value="${stage.id}" th:text="${stage.value}"></option>
                    </div>
                </select>
            </div>
            <div class="form-group" style="width: 400px;position: relative; left: 20px;">
                <label for="activityName">市场活动源&nbsp;&nbsp;<a href="javascript:void(0);" id="searchActivityBtn" style="text-decoration: none;"><span class="glyphicon glyphicon-search"></span></a></label>
                <input type="hidden" id="activityId">
                <input type="text" class="form-control" id="activityName" placeholder="点击上面搜索" readonly>
            </div>
        </form>

    </div>

    <div id="owner" style="position: relative; left: 40px; height: 35px; top: 50px;">
        记录的所有者：<br>
        <b th:text="${clue.owner}"></b>
    </div>
    <div id="operation" style="position: relative; left: 40px; height: 35px; top: 100px;">
        <input class="btn btn-primary" id="saveConvertClueBtn" type="button" value="转换">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input class="btn btn-default" type="button" value="取消" onclick="window.history.back();">
    </div>
</body>
</html>